/*Cabeçalho*/
body {
    background: linear-gradient(to right, #FF439D, #882AAE);
    min-height: 100vh;
}

.backgroundGradient {
    background: linear-gradient(to bottom, #ED5F46, #C3006B);
}

.Loguinho {
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar-brand {
    height: 55px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.divPesquisar {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divPesquisar button {
    border: solid 2px white;
}

.divPesquisar button:hover {
    border: solid 2px rgb(172, 7, 89);
}

.divPesquisar button:active {
    transform: scale(0.9);
}

#borderCategorias {
    border: 1px white solid;
}

#fundoDrop {
    background: linear-gradient(to right, #ED5F46, #C3006B);
}

#divCE {
    border-radius: 5px;
    border: 1px white solid;
    height: 38px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#borderButton {
    border: 1px white solid;
    border-radius: 5px;
    height: 37px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

#borderCarrito {
    margin-top: 6px;
}

#borderButton:hover {
    border: 1px rgb(172, 7, 89) solid;
}

#borderButton:active {
    transform: scale(0.9);
    border: white 1px solid;
}

/*Footer*/
.divFooter {
    background: linear-gradient(to bottom, #ED5F46, #C3006B);
}

.hoverLink:hover {
    background: linear-gradient(to right, #FF439D, #882AAE);
}

/*Bases e conteudos*/
#baseEsquerda {
    height: 810px;
}

#baseEsquerda,
#baseDireita {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Altura mínima das colunas */
}

/*Dentro das divs*/
.imagensEsquerdaGeral{
    height: 780px;
    width: 200px;
}
.imagensEsquerdaDivsIndividuais{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 194px;
}

.imagensEsquerdaDivsIndividuais img{
   height: 170px;
   width: 150px;
   margin-top: 5px;
   border: solid black 1px;
}

.imgDireitaGeral{
    height: 753px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: solid black 1px;
}

.imgDireitaGeral img{
    height: 753px;
    width: 500px; 
}

.InfProduto{
    width: 500px;
    background: black;
    height: 754px;
}

.SobreProduto{
        height: 624px;
}

.ButtonsComprarCarrinho{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

#Comprar{
    background: #FF007A;
    height: 55px;
    width: 180px;
    border: 1px black solid;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}
#Comprar:hover {
    border: 1px rgb(172, 7, 89) solid;
}

#Comprar:active {
    transform: scale(0.9);
    border: white 1px solid;
}

#VerCarrinho{
    background: #C996E6;
    height: 55px;
    width: 180px;
    border: 1px black solid;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

#VerCarrinho:hover {
    border: 1px rgb(172, 7, 89) solid;
}

#VerCarrinho:active {
    transform: scale(0.9);
    border: white 1px solid;
}

.SobreProduto p{
    margin-left: 10px;
    margin-top: 5px;
}

.SobreProduto div{
    margin-left: 10px;
}

/*CarroselDebaixoDeTudo*/

/*Carousel de Cards*/
.innerCards {
    border: none;
    outline: none;
    margin-top: 70px;
    margin-bottom: 70px;
}

.card {
    width: 18rem;
    /* Ajuste o tamanho conforme necessário */
}

/*Cards 2*/
.divLancamentosRecentesFundo {
    width: 100%;
    height: 750px;
    background: linear-gradient(to right, #D10466, #882AAE);
    border-bottom: 10px solid black;
}

.CIcards {
    height: 500px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

#Miku2Img {
    display: block;
}

#Nene2Img {
    display: block;
}

#Toki2Img {
    display: block;
}

.sem-sublinhado {
    text-decoration: none;
}

/*Carrosels que ligam e desligam*/
#one_card_carrosel {
    display: none;
}

#two_cards_carrosel {
    display: none;
}

#three_cards_carrosel {
    display: block;
}


/*Responsividade cards que giram/um dia eu faço ----------------------------------------------------*/
@media screen and (min-width: 610px) and (max-width: 900px)
/*Entre 885px e 550px troco pro carrossel de 2card*/
    {
    #two_cards_carrosel {
        display: block;
    }

    #three_cards_carrosel {
        display: none;
    }
}

@media screen and (min-width: 1px) and (max-width: 610px)
/*Entre 885px e 550px troco pro carrossel de 2card*/
    {
    #two_cards_carrosel {
        display: none;
    }

    #three_cards_carrosel {
        display: none;
    }

    #one_card_carrosel {
        display: block;
    }
}

/*Carrosel inicio*/
.divDestaquesDaSemana {
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.destaquesDaSemana {
    width: 450px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: #FF007A;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

.divDescontosSemanaisFundo {
    width: 100%;
    height: 710px;
    background: linear-gradient(to right, #FD7CC5, #F4BBCC);
    margin-top: 70px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /*display: none;*/
}

